.collapsible {
    background-color: lightgray;
    cursor: pointer;
    padding: 25px;
    height: 150px;
    border-radius: 20px

}

.active, .collapsible:hover {
    background-color: lightgray;
}

.content {
    padding: 20px;
    height: 175px;
    background-color: #DCDCDC;
    display:none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
